.ap-logo {
  margin-right: 1rem;
}

.hashtag {
  font-size: 1.1rem;
}

.spacer {
  flex: 1 1 auto;
}

.right-wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.icon {
  color: white;
}
