@import "../../constants.module";

.container {
  padding-inline: $page-padding;
  margin-top: 3rem;

  .section-title {
    max-width: max(80%, 300px);
    margin: auto;
    font-size: 2rem;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;

    .item {
      width: max(350px, 20%);
    }
  }
}
