@import "../../constants.module";

.container {
  padding-inline: $page-padding;
  padding-block: 3rem;
}

.section-title {
  max-width: max(80%, 300px);
  margin: auto;
  font-size: 2rem;
}

.languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem;
}
