.item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .image {
    position: relative;
    display: grid;
    width: max(30%, 200px);
    margin: auto;
    padding: 3rem 1rem 2rem;
    place-items: center;

    .image-uploader {
      position: absolute;
      top: 0;
      translate: -12px; // Half the size of the edit button
      margin: auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .info {
    width: max(70%, 400px);
    max-width: 100%;
    margin: auto;

    .form-field {
      width: 80%;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 10rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}
