@import "../../constants.module";

.two-column-display {
  padding-inline: $page-padding;
  margin-top: 6rem;

  .section-title {
    max-width: max(80%, 300px);
    margin: auto;
    font-size: 2rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
